{{template "base" .}}

{{define "content"}}
        <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>This the second row of homepage</p>
                <p>This the third row of about</p>


                
            </div>
        </div>
    </div>
{{end}}